<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.miniapp.account">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/task"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".activity.ui.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.ui.AccountDepositActivity" />
        <activity android:name=".activity.ui.AccountCategoryActivity" />
        <activity android:name=".activity.ui.AccountFiltrateActivity" />
        <activity
            android:name=".activity.ui.AccountAddOrUpdateActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.ui.AccountMainActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.ui.AccountDialog"
            android:launchMode="singleTop"
            android:theme="@style/AccountDialog" />
        <activity android:name=".activity.ui.BaseActivity" />

        <receiver android:name=".broadcast.AccountBroadcastReceiver" />

        <service android:name=".service.AccountService" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.miniapp.account.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>