<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.miniapp.account">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.ui.AccountAddOrUpdateActivity">

        </activity>

        <activity android:name=".activity.ui.AccountMainActivity"
            android:launchMode="singleTask">
        </activity>

        <activity android:name=".activity.ui.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.ui.AccountDialog"
            android:theme="@style/AccountDialog" />
        <activity android:name=".activity.ui.BaseActivity" />

        <activity android:name=".MainActivity" />

        <receiver android:name=".broadcast.AccountBroadcastReceiver" />

        <service android:name=".service.AccountService" />
    </application>

</manifest>